<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.1.0</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{776.0,1647.0}</string>
        <key>name</key>
        <string>game_image_sheet</string>
        <key>textureFileName</key>
        <string>game_image_sheet.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>back.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{600.0,1067.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{600.0,1067.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{600.0,1067.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3.0,3.0},{600.0,1067.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>back_gameover.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{226.0,116.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{226.0,116.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{226.0,116.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{111.0,1526.0},{226.0,116.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>btn_menu.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{160.0,56.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{160.0,56.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{160.0,56.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{607.0,3.0},{160.0,56.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>btn_ok.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{80.0,28.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{80.0,28.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{80.0,28.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{607.0,931.0},{80.0,28.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>btn_pause.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{52.0,56.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{52.0,56.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{52.0,56.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{715.0,443.0},{52.0,56.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>btn_play.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{52.0,56.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{52.0,56.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{52.0,56.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{715.0,503.0},{52.0,56.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>btn_rate.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{80.0,28.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{80.0,28.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{80.0,28.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{691.0,931.0},{80.0,28.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>btn_score.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{160.0,56.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{160.0,56.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{160.0,56.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{607.0,63.0},{160.0,56.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>btn_share.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{160.0,56.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{160.0,56.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{160.0,56.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{607.0,123.0},{160.0,56.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>btn_start.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{160.0,56.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{160.0,56.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{160.0,56.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{607.0,183.0},{160.0,56.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>font_coin.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{368.0,28.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{376.0,36.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,4.0},{368.0,28.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{341.0,1604.0},{368.0,28.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>font_score.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{380.0,40.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{396.0,56.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{8.0,8.0},{380.0,40.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{341.0,1388.0},{380.0,40.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>img_ground.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{600.0,218.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{600.0,218.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{600.0,218.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{111.0,1074.0},{600.0,218.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>img_logo.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{384.0,88.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{384.0,88.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{384.0,88.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{341.0,1296.0},{384.0,88.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>img_pipe_bottom.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{104.0,484.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{104.0,484.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{104.0,484.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{607.0,443.0},{104.0,484.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>img_pipe_top.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{104.0,540.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{104.0,540.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{104.0,540.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3.0,1074.0},{104.0,540.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>img_text_gameover.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{376.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{376.0,76.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{376.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{341.0,1432.0},{376.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>img_text_new.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{32.0,14.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{32.0,14.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{32.0,14.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{43.0,1618.0},{32.0,14.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>img_text_ready.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{348.0,88.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{348.0,88.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{348.0,88.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{341.0,1512.0},{348.0,88.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>img_tutorial.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,196.0}</string>
            <key>spriteOffset</key>
            <string>{40.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{260.0,220.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{92.0,12.0},{156.0,196.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{607.0,243.0},{156.0,196.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{110.0,1295.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>medal_bird_0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{44.0,44.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{44.0,44.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{44.0,44.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{715.0,707.0},{44.0,44.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>medal_bird_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{44.0,44.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{44.0,44.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{44.0,44.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{715.0,659.0},{44.0,44.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>medal_bird_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{44.0,44.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{44.0,44.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{44.0,44.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{715.0,563.0},{44.0,44.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>medal_bird_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{44.0,44.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{44.0,44.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{44.0,44.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{715.0,611.0},{44.0,44.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>sprite_bird_0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{68.0,48.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{68.0,48.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{68.0,48.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{679.0,963.0},{68.0,48.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>sprite_bird_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{68.0,48.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{68.0,48.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{68.0,48.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{607.0,963.0},{68.0,48.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>sprite_bird_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{68.0,48.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{68.0,48.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{68.0,48.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{607.0,1015.0},{68.0,48.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>sprite_sheet_30.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3.0,1618.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>sprite_sheet_35.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{23.0,1618.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
